{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>Headlines</h1>
            <h2>Current weather</h2>
            <form class="col s6">
                <input type="text" name="city" placeholder="weather search">
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="col s12">
            <p>City: <b>{{weather.city}}, {{weather.country}}</b></p>
            <p>{{weather.description}} |{{weather.temperature}}&#8451;</p>
            <h2>Headlines</h2>
            <form class="col s6">
                <input type="text" name="publication" placeholder="search" />
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            {% for article in articles %}
                <div class="card-panel grey lighten-3 hoverable">
                    <div class="card-content">
                        <b><a href='{{ article.link }}'>{{ article.title }}</a></b><br />
                        <i>{{article.published}}</i><br />
                        <p>{{ article.summary }}</p>
                    </div>
                </div>
                <hr />
            {% endfor %}
        </div>
    </div>
{% endblock %}